/*              1st part */
body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 600px;
    margin: 10%;
    margin-top: 50px;
    padding-bottom: 0px;
}
.half-width{
    width: 40%;
    float:left;
    padding-left: 2%;
}
.half-width h1{
    font-family: 'Abril Fatface', cursive;    
    border-left: 5px solid #FF5959;
    padding-left: 10px;
    font-size: 70px;
}
.span-color{
    color:darkorange;
}
.half-width img{
    width: 80%;      
}
.person-margin{
    margin-left: 150px;
}
.half-width p{
    text-align: justify;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( lightsalmon, tomato);
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*        2nd part       */
.container-part{
    /* background-color: #26316e; */
}
.container-part h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight:900;
    text-align: center;
    color: #13103A;
}
/* .mission-span{
    color: #FFAD5A;
} */
.second-part{
display: flex;
}
.mission{
    height: 500px;
    width:35%;
    background-color: rgb(135, 222, 161);
    margin: 20px;
    border-radius: 20px;
    padding:20px;
}
.mission-color{
    background-color: #EDF5F6;
}
.vission-color{
    background-color: #FFEEEE;
}
.goal-color{
    background-color: #FFF4D6;
}
.mission img{
    height: 300px;
    width: 200px;
}
.mission h2{
    font-weight: bolder;    
}

/*              3rd part */
.half-width h2{
    font-size: 50px;
    font-weight: 800;
}
 /*                 4th part */
.global-Community{
    padding-top: 30px;
    padding-bottom: 0%;
}
.global-img{
    margin-left: 150px;
}
            /*     5th or  Footer Part             */

.footer{
    margin: 0%;
    height: 250px;
    background-color: black;
}
.footer-content{
    padding-top: 20px;
    text-align: center;
}              
.footer h1{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    font-weight: 900;
    color: white;
}
.footer-span{
    color: #FF5959 ;
}
.footer p{
    
    color: white;
}
